<div id="about_wrapper">
  <div id="profile_image">
    <img id="profile_img" alt="img" src="/assets/profile.png">
  </div>

  <div id="content">
    <h2> Hi! Im Marco</h2>
    <p>I am currently learning Ruby on Rails</p>
    <p>This is week 2/12 of Mackenzie Child's 12 in 12 webapp tutorial</p>
  </div>
</div>